@media (max-width: 768px){
  .book{
    transform: scale(0.7)!important;
  }
  .wel-book{
    height: 240px!important;
    margin-top:60px!important ;
  }
  .text{
    padding-left:0;
  }
  .abosa{
    padding: 2%;
  }
  .carf{
    width: auto;
    height: auto;
  }
  .anim{
    width: 95%;
  }
  .prif{
    padding: 0px;
  }
  .pic{
    width: 94%;
  }
  .bhiapro{
    width: 94%;
    height: auto;
  }
}