.counter{
  float: left;
}
.counter ul{
  list-style:none;
}
.counter ul li {
  float: left;
  width: 60px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  box-sizing: border-box;
  color: #000000;
  border: 2px solid;
  border-radius: 4px;
  box-shadow: 0 0 2px #4d4b4b;
  cursor: pointer;
}
.counter ul li .count {
  font-size: 0.8em;
}

.counter1 li[data-action=like][data-status=voted] {
  color: #1abc9c;
  box-shadow: 0 0 2px #1abc9c;
}
.counter1 li[data-action=dislike][data-status=voted] {
  color: #f25757;
  box-shadow: 0 0 2px #f25757;
}
.counter1 li .icon {
  font-size: 35px;
  display: block;
}
.counter1 li .icon::before {
  font-family: fontAwesome;
}
.counter1 li[data-action=like] .icon::before {
  content: "";
}
.counter1 li[data-action=dislike] .icon::before {
  content: "";
}

.counter2 li[data-status=voted] {
  color: #1abc9c;
  box-shadow: 0 0 2px #1abc9c;
}
.counter2 li[data-status=voted] img {
  filter: saturate(100%);
}
.counter2 li img {
  width: 50px;
  height: 50px;
  filter: saturate(20%);
}

.counter li {
  position: relative;
}
.counter li::before {
  content: attr(data-action);
  position: absolute;
  left: 0;
  width: 100%;
  padding: 10px 0;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
  background: #efefef;
  color: #555;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  font-size: 0.8em;
  text-transform: capitalize;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 9999;
}
.counter li:hover::before {
  opacity: 1;
  visibility: visible;
}
.counter li::after {
  content: "";
  position: absolute;
  left: 50%;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  margin-left: -7px;
  height: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 10000;
}
.counter li:hover::after {
  opacity: 1;
  visibility: visible;
}

.counter[data-tooltip=top] li::before {
  bottom: 100%;
  margin-bottom: 0px;
}
.counter[data-tooltip=top] li::after {
  border-top: 7px solid #efefef;
  bottom: 100%;
  margin-bottom: -6px;
}
.counter[data-tooltip=top] li:hover::before {
  margin-bottom: 7px;
}
.counter[data-tooltip=top] li:hover::after {
  margin-bottom: 1px;
}

.counter[data-tooltip=bottom] li::before {
  top: 100%;
  margin-top: 0px;
}
.counter[data-tooltip=bottom] li::after {
  border-bottom: 7px solid #efefef;
  top: 100%;
  margin-top: -6px;
}
.counter[data-tooltip=bottom] li:hover::before {
  margin-top: 7px;
}
.counter[data-tooltip=bottom] li:hover::after {
  margin-top: 1px;
}

.icon-back {
  fill: green;
}